.leave-the-room {
  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  background-color: #FFFFFF;
  z-index: 9001;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.leave-the-room .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.leave-the-room .btn-wrap {
  width: 100%;
  padding: 0 12px;
}

.leave-the-room .icon-leave-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: -moz-calc(50% - 26px);
  height: -webkit-calc(50% - 26px);
  height: calc(50% - 26px);
  z-index: -1;
}

.leave-the-room .icon-leave-wrap .icon-leave {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -26px;
  content: '';
  width: 53px;
  height: 49px;
  fill: #ccc;
}

.mg-t15 {
  margin-top: 15px;
}
