.chat-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 100000;
  display: flex;
  flex-direction: column;
}
/*
.chat-wrap .title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: #000;
  font-family: Bariol;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #878787;
} */
.chat-wrap button.chat-close {
  width: 17px;
  height: 17px;
  background: url('../images/icon/close-white.png') no-repeat;
  align-self: flex-end;
  margin: 16px;
}
.chat-wrap .chat-input {
  width: 100%;
  height: 50px;
}
.chat-wrap .chat-input input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0 0 5px 10px;
}
.chat-wrap .icon-prev {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 20px;
  height: 32px;
  fill: #9b9b9b;
}

.chat-wrap .contents {
  padding: 22px 18px;
  height: -moz-calc(100% - 61px);
  height: -webkit-calc(100% - 61px);
  height: calc(100% - 61px);
  color: #000000;
  font-family: Bariol;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
}
