/************* Start *******************/
.start-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  background: url('../images/start/signin_img.jpg') no-repeat;
  background-position: 50% 100%;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 41px;
  font-size: 0;
  color: transparent;
}

.logo:before {
  width: 200px;
  height: 41px;
  background: url("../images/start/roundee_logo_white.png") 0 0/200px auto no-repeat;
}

.landscape .start-meeting-wrap {
  padding: 38px 24px 19px;
}

.start-meeting-wrap {
  width: 100%;
  padding: 122px 24px 38px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-meeting-wrap h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 100px;
}
.start-wrap p {
  color: #fff;
  font-size: 12px;
  font-style: italic;
  margin: -6px 0 0 70px;
}
.start-meeting-wrap .item-block {
  padding-top: 14px;
}
.item-block span {
  color: #fff;
  font-size: 12px;
}
.start-meeting-wrap label {
  display: block;
  padding-bottom: 4px;
  color: #fff;
  font-family: Bariol;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: left;
}

.start-meeting-wrap input {
  height: 50px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 2px;
  line-height: 50px;
  padding-left: 10px;
}

.btn-wrap {
  width: 100%;
  padding: 0 24px;
}

::-webkit-input-placeholder {
  color: #E0E0E0;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 16px;
}

::-moz-placeholder {
  color: #E0E0E0;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 16px;
}

:-ms-input-placeholder {
  color: #E0E0E0;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 16px;
}

:-moz-placeholder {
  color: #E0E0E0;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 16px;
}

/************* Loading *******************/
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202730;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.loading-wrap .symbol {
  width: 54px;
  height: 54px;
}

.loading-wrap .symbol:before {
  width: 54px;
  height: 54px;
  background: url("../images/start/symbol.png") 0 0/54px auto no-repeat;
}

.loading-wrap .loading-text {
  height: 100px;
  padding: 21px 0 0 0;
  color: #FFFFFF;
  font-family: Bariol;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
}
